.wrapper {
  height: 100%;
  padding: 75px 120px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
