.wrapper {
  height: 100%;
  margin: 75px 220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
